<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pacifica Search</title>
    <link rel="stylesheet" href="css/search_layout.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="js/namespace.js"></script>
    <script src="js/utilities.js"></script>
    <script src="js/filter.js"></script>
    <script src="js/pacifica_search.js"></script>
</head>
<body>
    <button id="pacifica_search_button">Search</button>

    {% for type, results in filterResults %}
        <fieldset data-type="{{ type }}">
            <label>{{ sectionLabels[type] }}</label>
            {% for result in results %}
                {% set input_id = type ~ "_" ~ result.id %}
                <label for="{{ input_id }}">{{ result.name }}</label>
                <input type="checkbox" id="{{ input_id }}" data-id="{{ result.id }}">
            {% endfor %}
        </fieldset>
    {% endfor %}
</body>
</html>