{% extends 'base.html.twig' %}

{% block site_id %}pacifica{% endblock %}
{% block title %}search{% endblock %}
{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/search_layout.css') }}">
{% endblock %}
{% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/namespace.js') }}"></script>
        <script src="{{ asset('js/utilities.js') }}"></script>
        <script src="{{ asset('js/dom_manager.js') }}"></script>
        <script src="{{ asset('js/filter.js') }}"></script>
        <script src="{{ asset('js/pacifica_search.js') }}"></script>
{% endblock %}
{% block body %}
<section id="search_filter">
    {% for collection in filters %}
        <fieldset data-type="{{ collection.machineName }}">
            <h2>{{ collection.typeDisplayName }}</h2>
            {% for instance in collection.instances %}
                {% set input_id = collection.machineName ~ "_" ~ instance.id %}
                <label for="{{ input_id }}">
                    <input type="checkbox" id="{{ input_id }}" data-id="{{ instance.id }}">
                    {{ instance.displayName }}
                </label>
            {% endfor %}
        </fieldset>
    {% endfor %}
</section>

<p style="clear:both"></p>

<div id="files" style="border: 1px black solid;">
    <h2>Files</h2>
    <!-- This element's remaining contents are generated in JavaScript -->
</div>
<div id="file_template" style="display:none">
    <p>
        <span class="file_name" data-is-file-name-container></span>
    </p>
</div>
{% endblock %}
